---
import liveLogo from "../../../public/id/logo-live-institute-jales.svg";
import Nav from "./Nav.astro";
---

<header
  class="py-4! bg-(--primary-color) w-full flex flex-col items-center gap-6"
>
  <a href="index.html">
    <img
      src={liveLogo.src}
      alt="Logo Live Institute - Jales/SP"
      class="w-36 rounded-none! shadow-none!"
    />
  </a>
  <Nav />
</header>
