---
const { label, linkTo } = Astro.props;
---

<a
  href={linkTo}
  class="block bg-(--dark-grey) text-(--white) rounded-xl px-5! py-4! uppercase text-sm font-normal transition! duration-300 hover:bg-(--secondary-color) hover:text-(--white)! cursor-pointer"
>
  {label}
</a>
